/* Header */
.header-container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
}

/* Logo image does not overflow */
#logo-image {
  max-width: 100%;
  height: 50%;
  width: 20%;
}

/* Menu container */
.menu-container {
  margin-left: 10em; /* this messes up the menu items alignment */
  margin-top: 7.6em;
  padding-left: 4em; /* this fixes  menu items alignment */
}

.menu-container .list-item {
  display: inline-block;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 1.5em;
  font-size: 1.4em;
}

.list-item .header-link {
  text-decoration: none;
  color: rgb(152, 38, 102);
}

.list-item .header-link:hover {
  text-decoration: underline;
}

/* Gray icons */
.social-item-top {
  display: inline;
  padding-right: 0.5em;
  margin-left: 16em;
  margin-top: 1em;
}

.social-item-top .header-link {
  text-decoration: none;
}

.icon {
  width: 3em;
  height: 3em;
  transition: filter 0.3s;
}

/* Remove the grayscale filter on hover */
.icon:hover {
  filter: none;
}

/* Body container 
/* Added gradient color for background & boxshadow for pics */
body {
  background: linear-gradient(to bottom, #d1b4b9, #44617b, #000b00);
  background-position: 5% 0;
  margin: 0;
}

/*Smooth transition for image box */
* {
  scroll-behavior: smooth;
}

/* Image gallery */
.main {
  display: grid;
  grid-template-columns: 24 24 24;
  grid-template-rows: 30 30 30;
}

.asset-container {
  margin-left: 10%;
}

.asset-container img {
  height: 34em;
  width: 24.5em;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.082);
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  height: 10%;
  text-align: center;
  padding-top: 2em;
}

.footer-unordered-list {
  display: inline;
  text-decoration: none;
}

.social-item-bottom {
  display: inline;
}

.social-item-bottom .footer-link {
  text-decoration: none;
}

p {
  color: white;
  list-style-type: none;
  padding-left: 3em;
  padding-bottom: 2em;
}
