#logo{
    position: relative;
    height:180px;

}

.header-container{
    display: flex;
    padding: 50px 30px 30px 50px;
 
}


.navbar{
    margin-top:153px;
    overflow: hidden;
}

.list-item{
    display: inline;
}


.list-item .header-link{
    text-decoration:none;
    color:purple;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.list-item{
  display:sticky;
}


.asset-container{
   display: grid;
   grid-template-columns: 400px 400px 400px;
   margin-left: 45px;
   margin-right: 10px;
   grid-row-gap: 10px;
   column-gap: 10px;

}

.gallery {
    padding-left: 100px;
    padding-right:100px;
}

.asset-container img{
    height: 600px;
    width: 400px;
}

.image-container{
   height: 600px;
   width: 400px;
}

footer{
    height: 170px;
    text-align: center;
}

.footer-unordered-list{
    padding-top: 40px;
}
.social-item{
    display: inline;
    text-decoration: none;
}

.social-item .footer-link{
    padding-top: 30px;
    padding-right: 10px;
    text-decoration: none;
}

#copyright{
    color:purple;
    list-style-type: none;
}
