* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

.section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contactmeinfo {
  padding: 2%;
  color: white;
  font-size: large;
}

.hero {
  width: 100%;
  margin: auto;
  padding: 10%;
}

article h1 {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #e69090;
  display: inline-block;
  margin: auto;
}

article h1::after {
  content: "";
  height: 2px;
  width: 100%; /*make line width 100% of the element content*/
  background-color: #e69090;
  display: block; /*leave this block so it's right under the h1*/
  margin: auto;
}

article h5 {
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 500;
  margin-top: 20%;
  color: #e69090;
}

#gif-container {
  padding-top: 3%;
  margin-bottom: 2%;
}

#e-mail, #phone, #social{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    color: #e69090;
}

#no, #email{
  font-size: 1.2em;
}


/*Social media icons */
.social-media-container {
  display: inline;
  padding-right: auto;
  margin-left: auto;
  margin-top: 2em;
  text-decoration: none;
}

.social-media-container .header-link {
  text-decoration: none;
}

.icon {
  width: 3em;
  height: 3em;
  transition: filter 0.3s;
  margin-right: 1em;
}

/* Remove the grayscale filter on hover */
.icon:hover {
  filter: none;
}

/*media query for responsive layout on all devices*/

@media (width <= 600px) {
  /*rewrote media query condition so it's more readable*/
  article h1 {
    font-size: 2em;
    padding-top: 2.5%;
  }

  article h5 {
    font-size: 1.5em;
  }
}

@media only screen and (width > 700px) {
  article h1 {
    font-size: 2em;
    color: blue;
  }

  article h5 {
    font-size: 1.5em;
    margin-top: 2%;
  }

  #contactmeinfo {
    color: white;
    font-size: large;
    margin: 0;
  }

  .hero {
    width: 100%;
    margin: auto;
    padding: 5%;
  }

  #gif-container {
    padding-top: 3%;
  }

  #contactmeinfo {
    color: white;
    font-size: large;
  }

article h5{
    margin-top: 6vh;
  }
}
