* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*every element is in EM - in relation to the size of it's parent*/
img {
  height: 15em;
  width: 13em;
  margin: auto;
  display: block;
  margin-top: 2%;
  border-radius: 50%;
  border: 3px solid #ccc;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #e69090;
  display: inline-block;
  margin: auto;
  padding-top: 2.5%;
}

h1::after {
  content: "";
  height: 2px;
  width: 100%; /*make line width 100% of the element content*/
  background-color: #e69090;
  display: block; /*leave this block so it's right under the h1*/
  margin: auto;
}

p {
  font-size: 1.5em;
  color: #ccc;
  line-height: 1.5;
  max-width: 50%;
  padding-top: 2%;
  margin: auto;
}

h5 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  margin-top: 5%;
  color: #e69090;
}

/*media query for responsive layout on all devices*/

@media (width <= 600px) {
  /*rewrote media query condition so it's more readable*/

  img {
    height: 12em;
    width: 10em;
    margin-top: 7%;
  }
  article h1 {
    font-size: 2em;
    padding-top: 2.5%;
    margin-top: 5%;
  }

  p {
    text-align: justify;
    font-size: 1.1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1.5em;
  }

  article h5 {
    font-size: 1.5em;
    margin-top: 7%;
  }
}

@media only screen and (width > 601px) and (width < 768px) {
  img {
    height: 12em;
    width: 10em;
    margin-top: 7%;
  }
  article h1 {
    font-size: 2em;
    padding-top: 2.5%;
    margin-top: 5%;
  }

  p {
    font-size: 1.1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1.5em;
  }

  article h5 {
    font-size: 1.5em;
    margin-top: 7%;
  }
}
